In [1]:
import pandas as pd

df = pd.read_csv("university_student_retention_dataset_2134.csv")

df.head()

,student_id,age,gender,ethnicity,major,gpa_current,gpa_history,attendance_rate,enrollment_gap_months,credits_completed,...,advisor_meeting_count,advising_notes,counseling_notes,gpa_by_semester,attendance_by_semester,dropout_risk,next_semester_dropout,dropout_type,dropout_duration,dropout_cause
0,S1000,21,Other,Black,Psychology,3.17,2.77,0.88,0,42,...,2,Student discussed academic goals and current c...,Reported stress and difficulty with time manag...,"[2.44, 2.24, 3.12, 2.32]","[0.82, 0.8, 0.78, 0.69]",False,False,NaN,0,NaN
1,S1001,26,Male,Hispanic,Business,2.99,2.72,0.72,3,109,...,5,Student discussed academic goals and current c...,NaN,"[3.11, 3.4, 2.75, 2.86]","[0.98, 0.92, 0.96, 0.91]",False,False,NaN,0,NaN
2,S1002,26,Other,Black,Psychology,2.45,2.25,0.79,1,119,...,5,Student discussed academic goals and current c...,NaN,"[3.37, 3.29, 2.8, 3.56]","[0.72, 0.95, 0.54, 0.98]",False,False,NaN,0,NaN
3,S1003,21,Other,Asian,Psychology,3.82,3.79,0.97,3,38,...,4,Student discussed academic goals and current c...,NaN,"[3.04, 2.81, 3.18, 3.82]","[0.77, 0.79, 0.54, 0.86]",False,False,NaN,0,NaN
4,S1004,19,Male,Hispanic,Electrical Engineering,2.18,1.97,0.56,0,26,...,1,Student discussed academic goals and current c...,NaN,"[3.5, 1.96, 2.24, 3.48]","[0.59, 0.96, 0.71, 0.54]",True,True,Permanent,0,Financial

In [2]:
df.shape

(2134, 22)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2134 entries, 0 to 2133
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              2134 non-null   object
 1   age                     2134 non-null   int64
 2   gender                  2134 non-null   object
 3   ethnicity               2134 non-null   object
 4   major                   2134 non-null   object
 5   gpa_current             2134 non-null   float64
 6   gpa_history             2134 non-null   float64
 7   attendance_rate         2134 non-null   float64
 8   enrollment_gap_months   2134 non-null   int64
 9   credits_completed       2134 non-null   int64
 10  financial_aid_status    2134 non-null   bool
 11  academic_warning_count  2134 non-null   int64
 12  advisor_meeting_count   2134 non-null   int64
 13  advising_notes          2134 non-null   object
 14  counseling_notes        653 non-null    object
 15  gpa_by_semester         2134 non-null   object
 16  attendance_by_semester  2134 non-null   object
 17  dropout_risk            2134 non-null   bool
 18  next_semester_dropout   2134 non-null   bool
 19  dropout_type            598 non-null    object
 20  dropout_duration        2134 non-null   int64
 21  dropout_cause           598 non-null    object
dtypes: bool(3), float64(3), int64(6), object(10)
memory usage: 323.1+ KB